.hero{
    min-height: 80vh;
    background:#090919;
    &__icon {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: linear-gradient(135deg, #c965ff,#6a5bff);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 15px 40px rgba(106, 91, 255, 0.35);
    }
    &__note{font-size: 3rem;}
    &__title{
        font-size: clamp(2.5rem, 6vw, 4.5rem);
        letter-spacing: 0.3rem;
        margin: 1rem;
        color: #a78bfa;
    }
    &__subtitle{
        color: #d6a9ff;
    }
    &__description{
        color: #dcd6ff;
        line-height: 1.6;
    }
}

.btn-gradient{
    background: linear-gradient(135deg, #c965ff,#6a5bff);
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(106, 91, 255, 0.3);
    transition: all 0.3s ease;
    &:hover{
        box-shadow: 0 15px 40px rgba(106, 91, 255, 0.5);
        transform: translateY(-3px);
    }
}